---
const { 
  title, 
  img, 
  introTitle, 
  introSubtitle, 
  introDescription, 
  link, 
  shape,
  date
} = Astro.props;
---
<details class="preview">
  <summary>
    <article class={`card ${shape ? shape : ''}`}>
      <img src={img} alt={title} />
      <h3 class="kunstner">{title}</h3>
    </article>
  </summary>

  <div class="intro">
    <img src={img} alt={`Ekstra billede af ${title}`} />
    <h1>{date}</h1>
    <h2>{introTitle}</h2>
    <h3>{introSubtitle}</h3>
   
    <p>{introDescription}</p>
    {link ? <a href={link} class="card-link">Læs mere</a> : null}
  </div>
</details>

<style>
    h4{color:#FFB85A}
    img { height: 150px;}
  img{ width: 400px;}
.intro{color:#c15327}
.intro{font-family: "Jaro", "sans-serif";}
.intro h1{color:#FFB85A}
</style>














